<?xml version="1.0"?>
<!--
/**
 * Akhil Gupta
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL)
 * This is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/OSL-3.0  Open Software License (OSL)
 *
 * DISCLAIMER**
 *
 * @category   MAGENTO2 Simple CONFIGURATION MODULE
 * @package    MAGENTO2 Simple CONFIGURATION MODULE
 * @url       https://www.youtube.com/user/thisisakhilgupta/
 * @author    Akhil Gupta
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <my_section>
            <general>
                <custom_dropdown>3</custom_dropdown>
                <custom_text>Custom Text</custom_text>
				<custom_textarea>Custom Text Area</custom_textarea>
            </general>
        </my_section>
    </default>
</config>
